{{>layout/header}}

<div class="container">
  <div class="d-flex justify-content-center mt-3 pt-3 row">
    <div class="col-3">
      <iframe width="100%" height="300"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
    <div class="col-3">
      <iframe width="100%" height="300"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
    <div class="col-3">
      <iframe width="100%" height="300"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center mt-3 row">
    <!--  <input type="text" class="searchinput" placeholder="도시나 국가를 검색해보세요!"/>-->
    <div class="input-group mb-3 col-5">
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
             placeholder="도시나 국가를 검색해보세요!">
    </div>
    <button type="submit" class="searchsubmit ml-1" style="background:none; border:none;">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

<div class="container serachsection">
  <div class="d-flex justify-content-center selectbox pt-2" >
    <div class="selectdiv mr-2"><label for="country">#지역</label><br>
      <select id="country" class="select-option">
        <option selected>선택 A</option>
        <option>아시아</option>
        <option>유럽</option>
        <option>아프리카</option>
        <option>북아메리카</option>
        <option>남아메리카</option>
        <option>아세안</option>
      </select>
    </div>

    <div class="selectdiv mr-2"><label for="member">#멤버</label><br>
      <select id="member" class="select-option">
        <option selected>선택 B</option>
        <option>혼자</option>
        <option>가족</option>
        <option>친구</option>
        <option>연인</option>
        <option>회사</option>
        <option>학교</option>
      </select>
    </div>

    <div class="selectdiv mr-2"><label for="season">#계절</label><br>
      <select id="season" class="select-option">
        <option selected>선택 C</option>
        <option>봄</option>
        <option>여름</option>
        <option>가을</option>
        <option>겨울</option>
      </select>
    </div>

    <div class="selectdiv mr-2"><label for="theme">#테마</label><br>
      <select id="theme" class="select-option">
        <option selected>선택 D</option>
        <option>관광지</option>
        <option>호캉스</option>
        <option>쇼핑</option>
        <option>운동</option>
        <option>맛집</option>
      </select>
    </div>

    <div class="selectdiv"><label for="budget">#예산</label><br>
      <select id="budget" class="select-option">
        <option selected>선택 E</option>
        <option>0-20만원</option>
        <option>20-40만원</option>
        <option>40-60만원</option>
        <option>60-90만원</option>
        <option>90-~~만원</option>
      </select>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-3 pr-1">
      <div class="card" style="width: 100%;">
        <!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3 pr-1">
      <div class="card" style="width: 100%;">
        <!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3 pr-1">
      <div class="card" style="width: 100%;">
        <!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>


{{>layout/footer}}