{{>layout/header}}


<div class="container">
  <div class="row">
    <img src="/images/app/Hawaii.jpg" style="width:100%"><br>

    <header class="get-plan-list">
      <div class="get-plan" id="starter">
        <p>Starter</p>
        <span class="tooltiptext">영상 또는 사진을 옮겨보세요</span>
      </div>
      <div class="get-plan" id="search-plan">
        <p>Search Plan</p>
        <span class="tooltiptext">영상 또는 사진을 옮겨보세요</span>
      </div>
      <div class="get-plan" id="get-your-plan">
        <p>Get Your Plan</p>
        <span class="tooltiptext">영상 또는 사진을 옮겨보세요</span>
      </div>
      <div class="get-plan" id="make">
        <p>Make</p>
        <span class="tooltiptext">영상 또는 사진을 옮겨보세요</span>
      </div>
      <div class="get-plan" id="complete">
        <p>Complete</p>
        <span class="tooltiptext">영상 또는 사진을 옮겨보세요</span>
      </div>
    </header>

    <section class="view">
      <article class="title">
        <span class="left-title">florida</span><span class="main-title">universal studios | orlando vlogs</span>
      </article>

      <iframe width="95%" height="300" src="https://www.youtube.com/embed/6Cp_4UejhrM?autoplay=1&mute=1" style="margin-top:10px;margin-bottom:0px; margin-left:30px;"></iframe>
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/E11p66uJVMY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe> -->
      <span style="margin-left:30px;font-size:15px;">
		[2020.03.17 thursday]
	</span>
      <span style="float:right;margin-right:30px;font-size:30px;"> <!-- width:20%; -->
		<a href="/weet/thumbsup.do" style="text-decoration:none"><i class="far fa-thumbs-up" style="font-size: 20px;color:#333;"></i><span style="font-size:15px;color:#333">&nbsp;${thumbsvo.video_good_count}</span></a>
		<a href="/weet/thumbsdown.do" style="text-decoration:none"><i class="far fa-thumbs-down" style="font-size: 20px;color:#333;"></i><span style="font-size:15px;color:#333">&nbsp;${thumbsvo.video_bad_count}</span></a>
		<a href="#sharing" style="text-decoration:none"><i class="fas fa-share" style="font-size: 20px;color:#333;"></i><span style="font-size:15px;color:#333">&nbsp;공유</span></a>
	</span>
      <div style="width:95%;margin-left:30px">
        <hr>
      </div>

      <div class="container d-flex justify-content-center">
        <!-- <div class="box"><iframe width="100%" height="30%" src="https://www.youtube.com/embed/6Cp_4UejhrM" style="margin-top:10px;margin-bottom:0px; margin-left:30px;"></iframe></div>
        <div class="box"><iframe width="100%" height="30%" src="https://www.youtube.com/embed/6Cp_4UejhrM" style="margin-top:10px;margin-bottom:0px; margin-left:30px;"></iframe></div>
        <div class="box"><iframe width="100%" height="30%" src="https://www.youtube.com/embed/6Cp_4UejhrM" style="margin-top:10px;margin-bottom:0px; margin-left:30px;"></iframe></div> -->
        <div class="row">
          <iframe class="mr-2" width="50%" height="100%" src="https://www.youtube.com/embed/6Cp_4UejhrM"></iframe>
          <iframe class="mr-2" width="50%" height="100%" src="https://www.youtube.com/embed/sVW_ueF7-A0"></iframe>
        </div>
<!--        <iframe width="30%" height="30%" src="https://www.youtube.com/embed/5gaInOuEp74" style="margin-top:10px;margin-bottom:0px; margin-left:30px;"></iframe>-->
      </div>
    </section>

    <aside>
      <h2>pictures</h2>
      <div class="container2">
        <img width="88%" height="auto" src="/weet/resources/photos/1.jpg" style="margin-top:15px;margin-bottom:5px; margin-left:30px;"></img>
        <img width="88%" height="auto" src="/weet/resources/photos/2.png" style="margin-top:15px;margin-bottom:5px; margin-left:30px;"></img>
        <img width="88%" height="auto" src="/weet/resources/photos/3.jpeg" style="margin-top:15px;margin-bottom:5px; margin-left:30px;"></img>
        <img width="88%" height="auto" src="/weet/resources/photos/4.jpg" style="margin-top:15px;margin-bottom:5px; margin-left:30px;"></img>
      </div>
    </aside>
  </div>


</div>

{{>layout/footer}}